@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.divResult{
    display: flex;
    flex-wrap: wrap;

}
.reviewButton {
    position: relative;
    bottom: 0.2rem
}
.result {
    display: block;
    height: auto;
    width: 15vw;
    border: solid;
    border-color: blue;
    padding: 2px;
    margin: 1em;
    font-family: 'Nunito', sans-serif;
    color: black
}

.result:hover {
    background-color: grey;
    border-color: red
}

img {
    height: 18vw;
    width: 12vw
}

h2{
    text-align: center;
    font-family: 'Nunito', sans-serif;
        background-image: linear-gradient(pink, white);    background-color: black;
    color: black;
    padding: 0.5em;
    margin: 0
}

.text {
font-family: 'Nunito', sans-serif;
    font-size: 15px;
        padding: 0.5em;
}

span{
    text-align: center;
        font-family: 'Nunito', sans-serif;
}
