@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.divResult {
    display: flex;
    flex-wrap: wrap;

}

.result {
    display: block;
        text-align: center;
    height: auto;
    width: 25vw;
    border: solid;
    border-color: blue;
    padding: 6px;
    margin: 1em;
    font-family: 'Nunito', sans-serif;
    color: black
}

.result:hover {
    background-color: grey;
    border-color: red
}

img {
    padding: 0.5em;
    height: 22vw;
    width: 20vw;
    
}

h6 {
    text-align: center;
    padding: 0.5em;
    margin: 0
}

a{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    padding: 0.5em;
}