.container{
    display: flex;
    align-items: stretch;
}

p {
    font-size: 14px;
    text-align: left;
}

.section {
    margin: 0.5em;
    padding: 0.5em;
    display: block;
}

h6 {
    font-size: 16px;
    text-align: left;
}

img {
    width: 500px;
    height: auto;
    text-align: left;
}

.subsection {
    margin: 1em;
    padding: 0.5em;
    /* border-style: solid;
    border-radius: 5px; */
}

.form {
    margin: 1em;
    padding: 1em;
    border-style: solid;
    border-radius: 5px;
}

.review {
    margin: 1em;
    padding: 0.5em;
    border-style: solid;
    border-radius: 5px;
}